#connectPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

#connectPage .profile {
  display: flex;
  justify-content: center;
}

#connectContainer {
  height: 80%;
  width: 96%;
  display: flex;
  align-items: center;
}

#connectContainerMain {
  height: 100%;
}

#connectContainerMain .name {
  font-weight: bold;
}

#connectContainerMain .MuiPagination-ul {
  position: absolute;
  bottom: 19px;
  width: 60%;
  /* width: 100%; */
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
}

#connectContainerMain .MuiAvatar-root {
  margin: 10px;
}
#connectContainerMain .description {
  margin: 0px 10px;
}

.searchResultPage {
  width: 100%;
}

.bullet {
  padding: 0px 10px;
}

.moreBtn {
  position: absolute;
  right: 4%;
}

#connectPage .searchContainer {
  height: 90%;
  width: 90%;
}

#connectPage .search {
  width: 96%;
}

#connectPage #status {
  display: flex;
  align-items: flex-start;
  padding: 0px 10px;
}

#connectPage #status input {
}

#connectPage .selection {
  margin: 20px 5px;
}

#connectPage #searchBtn {
  position: absolute;
  bottom: 10%;
  left: calc(3% - 4px);
  width: 20%;
}

#connectPage .searchContainer .MuiChip-root {
  background-color: #011f5b !important;
  color: white !important;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* margin: 5px 5px !important; */
}
